body {
  font-family: roboto, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.calculator-box {
  height: 700px;
  width: 400px;
  padding: 30px;
  background-color: #333;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  border-left: 8px solid grey;
  border-top: 5px solid #666;
}

#calculator-screen {
 min-height: 20%;
 width: 100%;
 background-color: #77b;
 border-radius: 8px;
 font-size: 48px;
 display: flex;
 align-items: center;
 padding-left: 16px;
 word-wrap: break-word;
 overflow-wrap: break-word;
 word-break: break-all;
 word-break: break-word;
}

.calculator-box button {
  margin: 0;
  padding: 8px;
  border: none;
  border-left: 2px solid #999;
  border-radius: 8px;
  font-size: 32px;
  color: white;
  height: 10%;
  width: 21%;
  background-color: #777;
}

.calculator-box button:hover {
  background-color: #555;
}

#btn-clear,
#btn-del {
  width: 45%;
  background-color: #ccd;
  color: black;
  border: none;
  margin: 0 auto;
}
